<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-categories.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
<head>
    <meta charset="utf-8">
    <title>Chrono</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/adminAssets/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/adminAssets/assets/css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin/getadmin-dash" class="brand-wrap">
                <img src="/adminAssets/assets/imgs/icons/mainlogo.svg.jpg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="">
                    <a class="menu-link" href="/admin/getadmin-dash"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="">
                    <a class="menu-link" href="/admin/product-list"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                   
                </li>
                <li class="">
                    <a class="menu-link" href="/admin/orderlist"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                 
               </li>
               <li class="">
                <a class="menu-link" href="/admin/users"> <i class="icon material-icons md-person"></i>
                    <span class="text">Users</span>
                </a>
              
            </li>

            <li class="menu-item active">
                <a class="menu-link" href="/admin/categories"> <i class="icon material-icons md-add_box"></i>
                    <span class="text">Category</span>
                </a>
            </li>
            <li class="">
                <a class="menu-link" href="/admin/coupon"> <i class="icon material-icons md-add_box"></i>
                    <span class="text">Coupons</span>
                </a>
            </li>
            </li>
            <!-- <li class="">
                <a class="menu-link" href="/admin/offers"> <i class="icon material-icons md-monetization_on"></i>
                    <span class="text">Offers</span>
                </a>
            
            </li> -->
            <li class="">
                <a class="menu-link" href="/admin/banner"> <i class="icon material-icons md-add_box"></i>
                    <span class="text">Banner</span> </a>
            </li>
              
              
           
                        
                <li class="">
                    <a class="menu-link" href="/admin/sale"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Sales Report</span> </a>
                </li>
              
            </ul>
            <hr>
        
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                   
                    </li>
                    <li class="dropdown nav-item">

                        <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>

                </ul>
            </div>
        </header>
        <section class="content-main" style="margin-left: 150px;">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Edit Category  </h2>
                </div>
               
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <form action="/admin/submit-editcategory" method="post">
                                <input type="hidden" value="<%=categoryData._id%>" name="editcategory">
                                <div class="mb-4">
                                    
                                    <label for="product_name" class="form-label">Name</label>
                                    <input type="text" name="name" placeholder="Type here" value="<%=categoryData.name%>" class="form-control" id="product_name" required />
                                    <span style="color: red;"><%=error%></span>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Description</label>
                                   <textarea placeholder="Type here" name="description" class="form-control" required><%=categoryData.description%></textarea>
                                    <span id="descriptionError" style="color: red;"></span>
                                </div>
                             
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary">Update category</button>
                                </div>
                            </form>
                            
                        </div>



    <script src="/adminAssets/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/adminAssets/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/adminAssets/assets/js/vendors/select2.min.js"></script>
    <script src="/adminAssets/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/adminAssets/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/adminAssets/assets/js/main.js" type="text/javascript"></script>
</body>
</html>