<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Evara - eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/userAssets/assets/imgs/theme/favicon.svg"
    />
    <!-- Template CSS -->
    <link rel="stylesheet" href="/userAssets/assets/css/maind134.css?v=3.4" />
  </head>
  <body>
    <div class="container m-5">
      <div class="row justify-content-center m-5">
        <div
          class="col-md-6 col-lg-4"
          style="border: 2px solid gray; border-radius: 8px; margin-top: 85px"
        >
          <div class="card">
            <div class="card-body">
              <h3 class="card-title text-center" style="padding: 18px">
                Password Reset
              </h3>
              <form method="post" action="/changepassword">
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="Enter Registered email ID"
                    required\
                  />
                </div>
                <a class="btn btn-block send-otp">SEND OTP</a>
                <div style="color: blue" id="timer"></div>
                <div class="form-group">
                  <!-- <label for="phoneNumber">O T P</label> -->
                  <button
                    type="button"
                    class="btn btn-block resend-otp"
                    style="display: none"
                  >
                    Resend OTP
                  </button>
                  <input
                    type="number"
                    class="form-control"
                    id="otp"
                    placeholder="Enter OTP"
                    style="display: none"
                    \
                  />
                </div>
                <button
                  type="submit"
                  class="btn btn-block verify-otp"
                  id="verifyotp"
                  style="display: none"
                >
                  Verify OTP
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const email = document.getElementById("email");
        const otp = document.getElementById("otp");
        const timerElement = document.getElementById("timer");
        const verify = document.getElementById("verifyotp");
        // Define the timer function
        function startTimer(duration) {
          let timeLeft = duration;
          timerElement.textContent = timeLeft + " seconds";

          const interval = setInterval(() => {
            if (timeLeft === 0) {
              clearInterval(interval);
              timerElement.textContent = "0 seconds";
              // Enable the resend OTP button
              document.querySelector(".resend-otp").style.display = "block";
            } else {
              timeLeft--;
              timerElement.textContent = timeLeft + " seconds";
            }
          }, 1000);
        }

        function isValidEmail(email) {
          const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
          return emailRegex.test(email);
        }

        function isValidOTP(otp) {
          const otpRegex = /^[0-9]{6}$/;
          return otpRegex.test(otp);
        }

        async function sendOTP() {
          try {
            if (!isValidEmail(email.value)) {
              Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Enter a valid email ID!",
              });
              return;
            }

            const response = await fetch(
              `/passwordresetotp/sendOtp?email=${email.value}`
            );
            if (response.ok) {
              Swal.fire({
                position: "top-centre",
                icon: "success",
                title: "OTP has been sent to Registered Phone Number.",
                showConfirmButton: false,
                timer: 1500,
              });
              otp.style.display = "block";
              verify.style.display = "block";
            } else {
              Swal.fire({
                icon: "error",
                title:
                  "No user found on this Email Try again with registered Email ID.",
                text: "Something went wrong!",
                footer: '<a href="">Why do I have this issue?</a>',
              });
            }
          } catch (error) {
            console.error("Error:", error);
            Swal.fire({
              icon: "error",
              title: "An error occurred. Please try again.",
              text: "Something went wrong!",
              footer: '<a href="">Why do I have this issue?</a>',
            });
          }
        }

        async function verifyOTP() {
          try {
            if (!isValidEmail(email.value)) {
              Swal.fire({
                icon: "error",
                title: "Oops.",
                text: "Enter a valid Email!",
                footer: '<a href="">Why do I have this issue?</a>',
              });
              return;
            }
            if (!isValidOTP(otp.value)) {
              Swal.fire({
                icon: "error",
                title: "Enter a valid OTP",
                text: "Something went wrong!",
              });
              return;
            }

            const response = await fetch(
              `/passwordResetVerifyOtp/verifyOtp?email=${email.value}&otp=${otp.value}`
            );
            if (response.ok) {
              Swal.fire({
                position: "top-end",
                icon: "success",
                title: "OTP Verified successful!",
                showConfirmButton: false,
                timer: 1500,
              })
                .then(() => {
                  window.location.href = `/changePassword?email=${email.value}`;
                })
                .catch((err) => {
                  console.error(err);
                });
            } else {
              Swal.fire({
                icon: "error",
                title: "Incorrect OTP",
                text: "Something went wrong!",
              });
            }
          } catch (error) {
            console.error("Error:", error);
            Swal.fire({
              icon: "error",
              title: "An error occurred. Please try again.",
              text: "Something went wrong!",
            });
          }
        }

        document.querySelector(".send-otp").addEventListener("click", (e) => {
          e.preventDefault();
          sendOTP();
          startTimer(60);
        });
        document.querySelector(".resend-otp").addEventListener("click", (e) => {
          e.preventDefault();
          sendOTP();
          startTimer(60);
        });

        document.querySelector(".verify-otp").addEventListener("click", (e) => {
          e.preventDefault();
          verifyOTP();
        });
      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  </body>
</html>
